.list-style {
/*clear: both; padding-top:5px;*/
}
.list-style h2 {
  font: 200 28px/1.5 Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.list-style ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
    text-decoration: none;
}
.list-style li {
  font: 200 18px/1.5 Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #ccc;

  text-decoration: none;
  color: #000;
  display: block;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
.list-style li:hover {
background: #f6f6f6;
    }
 
.list-style li:last-child {
  border: none;
}
.list-style li:hover span {
    display: block;
    float: right; 
    font-size: 16px;
    padding-right: 10px;
}
.list-style li span {
    display: none;
}